{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
font-family: 'Inter', sans-serif;
background: #070707;
color: #fff;
overflow-x: hidden;
}

a {
text-decoration: none;
color: inherit;
}

.header {
width: 100%;
height: 82px;
padding: 0 7%;
display: flex;
align-items: center;
justify-content: space-between;

position: fixed;
top: 0;
left: 0;
z-index: 1000;

background: rgba(7, 7, 7, 0.65);
backdrop-filter: blur(18px);
border-bottom: 1px solid rgba(255,255,255,0.06);


}

.logo {
font-size: 22px;
font-weight: 800;
letter-spacing: 2px;
}

.logo span {
color: #a8ff00;
margin-right: 5px;
}

.nav {
display: flex;
gap: 38px;
}

.nav a {
color: #999;
font-size: 14px;
transition: .3s;
}

.nav a:hover {
color: #fff;
}

.header-btn {
background: #a8ff00;
color: #080808;
padding: 13px 21px;
border-radius: 30px;
font-size: 13px;
font-weight: 700;
transition: .3s;
}

.header-btn:hover {
transform: translateY(-3px);
box-shadow: 0 10px 30px rgba(168,255,0,.25);
}

.header-btn span {
margin-left: 8px;
}

.menu-btn {
display: none;
background: none;
border: none;
color: white;
font-size: 25px;
}


.hero {
min-height: 100vh;
padding: 150px 7% 80px;

display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;

position: relative;
overflow: hidden;


}

.hero::before {
content: "";
position: absolute;
width: 600px;
height: 600px;
background: #a8ff00;
opacity: .08;
filter: blur(150px);
border-radius: 50%;
right: -150px;
top: 100px;
}

.hero-content {
max-width: 650px;
position: relative;
z-index: 2;
}

.tag {
color: #a8ff00;
font-size: 12px;
font-weight: 700;
letter-spacing: 3px;
margin-bottom: 25px;
}

.hero h1 {
font-size: clamp(60px, 7vw, 105px);
line-height: .92;
letter-spacing: -6px;
margin-bottom: 30px;
}

.hero h1 span {
display: block;
color: transparent;
-webkit-text-stroke: 1px #fff;
}

.description {
max-width: 500px;
color: #999;
line-height: 1.8;
font-size: 16px;
margin-bottom: 35px;
}

.hero-botones {
display: flex;
gap: 15px;
align-items: center;
}

.primary-btn,
.secondary-btn {
padding: 16px 24px;
border-radius: 30px;
font-size: 14px;
font-weight: 600;
transition: .3s;
}

.primary-btn {
background: #fff;
color: #050505;
}

.primary-btn:hover {
background: #a8ff00;
transform: translateY(-4px);
}

.primary-btn span {
margin-left: 15px;
}

.secondary-btn {
border: 1px solid #333;
color: #aaa;
}

.secondary-btn:hover {
border-color: #a8ff00;
color: #a8ff00;
}

.hero-visual {
height: 550px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.glow {
position: absolute;
width: 320px;
height: 320px;
background: #a8ff00;
border-radius: 50%;
filter: blur(100px);
opacity: .2;
}

.orb {
width: 350px;
height: 350px;
border-radius: 50%;

background:
    radial-gradient(circle at 35% 25%, #fff 0%, #caff64 8%, #a8ff00 25%, #426600 55%, #080808 75%);

box-shadow:
    0 0 80px rgba(168,255,0,.25),
    inset -40px -50px 80px rgba(0,0,0,.7);

animation: floating 5s ease-in-out infinite;


}

.orb-inner {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;

font-size: 90px;
color: rgba(255,255,255,.9);

text-shadow: 0 0 30px #a8ff00;


}

footer{
width: 100%;
height: 82px;
padding: 0 7%;
display: flex;

}